$colour-white: rgba(255, 255, 255);
$colour-green: rgba(0, 120, 124);
$colour-lightgreen: rgba(157, 221, 218);
$colour-orange: rgb(235, 117, 78);
$colour-brown: rgb(91, 71, 51);
$colour-lightbrown: rgb(188, 158, 127);
$colour-darkred: rgb(158, 57, 60);
$colour-yellow: rgb(243, 216, 116);
