$colour-white: rgba(255, 255, 255);
$colour-black: rgba(0, 0, 0);
$colour-green: rgba(0, 120, 124);
$colour-darkgreen: rgb(32, 94, 97);
$colour-yellow: rgb(243, 216, 116);
$colour-orange: rgb(219, 80, 34);

$colour-lightgreen: rgba(157, 221, 218);
// $colour-orange: rgb(235, 117, 78);

$colour-brown: rgb(91, 71, 51);
$colour-lightbrown: rgb(188, 158, 127);
$colour-darkred: rgb(158, 57, 60);

//font
// $font-small: 14px;
$font-medium: 18px;
// $font-large: 28px;
// $font-family:
