@use "../../styles/variables" as *;
.nav {
  background-color: $colour-darkred;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  height: 4.5rem;
  width: 100%;

  &__link {
    text-decoration: none;
    color: $colour-white;
    display: inline;
    font-family: $font-title-family;
    font-size: $font-small;
  }
}
