@use "../../styles/variables" as *;
.item {
  border: 5px solid $colour-cherry;
  border-radius: 15px;
  background-color: $colour-pale;
  padding: 0.5rem;
  margin: 0.5rem;
  &__name {
    color: $colour-cherry;
    text-align: center;
    font-size: $font-large;
    font-family: $font-title-family;
  }
  &__text {
    color: $colour-brown;
    font-size: $font-medium;
    font-family: $font-text-family;
    font-weight: bold;
  }
}
