@use "../../styles/variables" as *;

.form {
  margin: 10px;
  border: 5px solid $colour-darkgreen;
  border-radius: 15px;
  background-color: $colour-green;
  padding: 0.5rem;
  margin: 0.5rem;

  &__header {
    margin: 5px;
    font-size: $font-title;
    font-family: $font-title-family;
  }

  &__title {
    margin: 10px;
    display: inline-block;
    color: $colour-darkblue;
    font-size: $font-large;
    font-family: $font-title-family;
  }

  &__text {
    margin: 0.2rem;
    color: $colour-brown;
    font-size: $font-medium;
    font-family: $font-text-family;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
